* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#field {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.team-card {
  border: 1px solid black;
  margin: 10px;
  width: 200px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
}